In [1]:
j = "ws \n\nno other way.ðŸŒ·â˜˜ðŸŒ· h"

In [2]:
j.encode('unicode_escape')

b'ws \\n\\nno other way.\\U0001f337\\u2618\\U0001f337 h'

In [3]:
%cd twitterproject

(bookmark:twitterproject) -> /Users/adam/Dropbox/PainNarrativesLab/TwitterProject
/Users/adam/Dropbox/PainNarrativesLab/TwitterProject

In [5]:

import pandas as pd
#Plotting 
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

sns.set(style="whitegrid")

import environment

from CommonTools.FileTools.CsvFileTools import read_csv

EXP_TERMS_FILEPATH = '%s/experimental-terms.xlsx' % environment.EXPERIMENTS_FOLDER
IDS_FILEPATH = "%s/temp_output/tweet-ids.csv" % environment.LOG_FOLDER_PATH

def make_term_ids_filepath(term, path=environment.LOG_FOLDER_PATH):
    return "%s/temp_output/tweet-ids/%s-ids.csv" % (path, term)


# load in terms to search for
experimentalTerms = pd.read_excel(EXP_TERMS_FILEPATH, sheet_name='terms', squeeze=True)
termMap = pd.read_excel(EXP_TERMS_FILEPATH, sheet_name='mapping')

terms = [t for t in termMap.T.index]

In [6]:
csvlog = "%s/mining/twitter-save-data.csv" % environment.LOG_FOLDER_PATH
data = pd.read_csv(csvlog)

In [7]:
data

                          time  attempts  success      rate  invalid
0   2018-07-01T14:39:51.918594      1128       16  0.014184        0
1   2018-07-01T14:54:21.231627       188       16  0.085106        0
2   2018-07-01T14:54:24.803959       188       64  0.340426       10
3   2018-07-01T14:54:27.874729       188        0  0.000000        0
4   2018-07-01T14:54:30.975383       376       64  0.170213       10
5   2018-07-01T14:54:34.445751       188        0  0.000000        0
6   2018-07-01T14:54:37.578326       376       16  0.042553        0
7   2018-07-01T14:54:40.622285       376        0  0.000000        0
8   2018-07-01T14:54:43.778078       188        0  0.000000        0
9   2018-07-01T14:54:47.173891       188       16  0.085106        0
10  2018-07-01T14:54:50.154863       564       64  0.113475       10
11  2018-07-01T14:54:53.071937       376       16  0.042553        0
12  2018-07-01T14:54:56.029116       376        0  0.000000        0
13  2018-07-01T14:54:59.099325       564       16  0.028369        0
14  2018-07-01T14:55:02.144757       752       16  0.021277        0