For identifying networks of users via retweets

In [7]:
import pandas as pd
import networkx as nx

#Plotting 
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns
sns.set(style="whitegrid")


%cd twitterproject
# inject config value (on command line would've been --config=data-analysis)
import sys
# args = ['--config', 'data-analysis']
args = ['--config', 'laptop-mining']
old_sys_argv = sys.argv
sys.argv = [old_sys_argv[0]] + args
import environment

from TwitterDatabase.Repositories import DataRepositories as DR
from TwitterDatabase.DatabaseAccessObjects import DataConnections as DC
from TwitterDatabase.Models.WordORM import Word
from TwitterDatabase.Models.TweetORM import Users as User
from TwitterDatabase.Models.TweetORM import Tweet
from DataAnalysis.SearchTools.WordMaps import get_adjacent_word_counts, get_adjacent_words, get_user_ids_for_word

(bookmark:twitterproject) -> /Users/adam/Dropbox/PainNarrativesLab/TwitterProject
/Users/adam/Dropbox/PainNarrativesLab/TwitterProject

In [22]:
retweetIdQuery = """
SELECT 
    u.userID AS toId, 
    r.referring AS fromId, 
    u.screen_name,
    r.tid
FROM
    twitter_miner_laptop.users u
        INNER JOIN
    (SELECT 
    t.tweetID as tid,
        t.in_reply_to_screen_name AS sn, 
        t.userID AS referring
    FROM
        twitter_miner_laptop.tweets t
    WHERE
        t.in_reply_to_screen_name IS NOT NULL) AS r
WHERE
    u.screen_name = r.sn
"""

In [23]:
dao = DC.MySqlConnection(environment.CREDENTIAL_FILE)

mysql+mysqlconnector://hobbes:taco-sauce@localhost/twitter_miner_laptop?charset=utf8mb4

In [24]:
data = pd.read_sql_query(retweetIdQuery, dao.engine) #, index_col='tweetID')
print("Loaded %s record" % len(data))

Loaded 12305 record

In [26]:
nodes = data.drop(['screen_name', 'tid'], axis=1)
nodes[-5:]

                      toId               fromId
12300  1035163150109351941  1035163150109351941
12301  1035625178632515585   797102225407561728
12302  1036615146083246080  1036615146083246080
12303  1036739215499907075  1036739215499907075
12304  1036739215499907075  1036739215499907075

In [36]:
G = nx.DiGraph()
G.add_edges_from([(a.toId, a.fromId) for a in nodes.itertuples() if a.toId is not a.fromId])

In [38]:
G.size()

9499

In [39]:
GRAPHS_FOLDER = "%s/temp_output/graphs" % environment.LOG_FOLDER_PATH
filepath = "%s/user-retweet.gexf" % GRAPHS_FOLDER
nx.write_gexf(G, filepath)

In [52]:
dc = nx.in_degree_centrality(G)

In [58]:
degreeCentrality = [{'id': k, 'degree_centrality' : dc[k] } for k in dc.keys()]
degreeCentrality = pd.DataFrame(degreeCentrality)

In [44]:
len(dc.keys())

9274

In [46]:
dc = pd.DataFrame([{'id': k, 'degree_centrality' : dc[k] } for k in dc.keys()])
dc[:5]

                                   degree_centrality      id
0  0      NaN
1      NaN
2      NaN
3      NaN
4 ...     422
1  0       0.000108
1            NaN
2           ...   49113
2  0      NaN
1      NaN
2      NaN
3      NaN
4 ...   73383
3  0      NaN
1      NaN
2      NaN
3      NaN
4 ...  620373
4  0            NaN
1       0.000108
2           ...  627213

In [57]:
dc[49113]

0.00010783996549121104

      degree_centrality                   id
0              0.000108                49113
1              0.000108               627213
2              0.000108               637113
3              0.000108               811069
4              0.000216               819463
5              0.000108   895738652340490240
6              0.000108              1097161
7              0.000108             20531745
8              0.000108              4185591
9              0.000000              4654971
10             0.000108            326167796
11             0.000108              4821041
12             0.000000              5951882
13             0.000755             23450564
14             0.000108              5980332
15             0.000108              6782762
16             0.000216              7555262
17             0.000108            228253869
18             0.000108              7798662
19             0.000108   847263653547999232
20             0.000000              7896902
21             0.000108            401237384
22             0.000108              9509792
23             0.000216   821322060714622976
24             0.000108             12575092
25             0.000108             12612562
26             0.000216             12977192
27             0.000108   891040251908546560
28             0.000000             13115502
29             0.000216             80557012
...                 ...                  ...
9244           0.000108  1010803451431809024
9245           0.000108  1011004148156960768
9246           0.000108  1001661168774144000
9247           0.000108  1013630264558407681
9248           0.000108  1026877116615413762
9249           0.000108  1015119307057946625
9250           0.000108  1015225916488855552
9251           0.000000  1015399725057691648
9252           0.000108  1021137726324858880
9253           0.000108  1016089956996050944
9254           0.000108  1016702595921076226
9255           0.000108  1017204231844098048
9256           0.000108  1019853115158355968
9257           0.000108  1019995156525801478
9258           0.000108  1020710770441687041
9259           0.000108  1024398197538660352
9260           0.000000  1024965752544264192
9261           0.000108  1025614977451941888
9262           0.000108   978798111983316993
9263           0.000108  1027836866291265537
9264           0.000108   817120148603752449
9265           0.000108   954775306090430464
9266           0.000108           2883912787
9267           0.000108  1032504097256157186
9268           0.000108  1033399060609335297
9269           0.000108  1035163150109351941
9270           0.000000  1035625178632515585
9271           0.000108   797102225407561728
9272           0.000108  1036615146083246080
9273           0.000108  1036739215499907075

[9274 rows x 2 columns]

In [59]:
r[:2]

[{'id': 49113, 'degree_centrality': 0.00010783996549121104},
 {'id': 627213, 'degree_centrality': 0.00010783996549121104}]

In [49]:
dc['49113']

KeyError: '49113'

In [ ]:
# This produces a graph
G = nx.Graph()   # or DiGraph, MultiGraph, MultiDiGraph, etc
for n1, n2, degree in edges: 
    G.add_edges_from([(n1, n2) for i in range(0, degree)])
G.size()

In [ ]:
nx.Graph()

In [ ]:
# Retweet and quote tweets