This notebook is for visualizing large-scale properties of the dataset

In [1]:
import pandas as pd

#Plotting 
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns
sns.set(style="whitegrid")


%cd twitterproject

# inject config value (on command line would've been --config=data-analysis)
import sys
sys.argv = ['data-analysis'] 
# or could use 'laptop-mining'
import environment

from TwitterDatabase.Repositories import DataRepositories as DR
from TwitterDatabase.DatabaseAccessObjects import DataConnections as DC
from TwitterDatabase.Models.WordORM import Word
from TwitterDatabase.Models.TweetORM import Users as User
from TwitterDatabase.Models.TweetORM import Tweet
from DataAnalysis.SearchTools.WordMaps import get_adjacent_word_counts, get_adjacent_words, get_user_ids_for_word

EXP_TERMS_FILEPATH = '%s/experimental-terms.xlsx' % environment.EXPERIMENTS_FOLDER
IDS_FILEPATH = "%s/temp_output/user-ids.xlsx" % environment.LOG_FOLDER_PATH

/Users/adam/.pyenv/versions/3.6.4/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/adam/.pyenv/versions/3.6.4/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

(bookmark:twitterproject) -> /Users/adam/Dropbox/PainNarrativesLab/TwitterProject
/Users/adam/Dropbox/PainNarrativesLab/TwitterProject
Reading configuration from /Users/adam/Dropbox/PainNarrativesLab/TwitterProject/configurations/testing.config.ini

In [2]:
dao = DC.MySqlConnection(environment.CREDENTIAL_FILE)

mysql+mysqlconnector://hobbes:taco-sauce@localhost/twitter_dataTEST?charset=utf8mb4

# Number of distinct users whose tweets we have captured

In [ ]:
data = pd.read_sql_query("select tweetID, userID from tweets", dao.engine) #, index_col='tweetID')
print("Loaded %s tweets" % len(data))

In [ ]:
userCount = len(data.groupby('userID').groups)
print("Captured tweets from %s distinct users" % userCount)

# Number of tweets per user

## All results

In [ ]:
tweetsPerUser = data.groupby('userID').size()
tweetsPerUser.describe()

In [ ]:
sns.distplot(tweetsPerUser)

## Trimmed results

In [ ]:
MAX_PER_USER = 20
trimmed = tweetsPerUser[tweetsPerUser.between(1, MAX_PER_USER)]

In [ ]:
trimmed.describe()

In [ ]:
fig, axes = plt.subplots(figsize=(5,4))
sns.distplot(trimmed, ax=axes)
axes.set_title("Tweets per user (trimmed at %s)" % MAX_PER_USER); fig.tight_layout()

In [ ]:
fig, axes = plt.subplots(ncols=2, figsize=(10,4))
sns.violinplot(trimmed, ax=axes[0])
sns.boxplot(trimmed, ax=axes[1])
axes[0].set_title("Tweets per user (trimmed at %s)" % MAX_PER_USER); 
fig.tight_layout()

# Temporal distibution of captured tweets

In [ ]:
timeData = pd.read_sql_query("select created_at from tweets", dao.engine) #, index_col='tweetID')
print("Loaded %s tweets" % len(timeData))

In [ ]:
# convert to timestamps (takes a long time)
timeData['created_at'] = timeData.apply(lambda x : pd.Timestamp(x.created_at), axis=1)
# add extra column to help with plotting
timeData['tweet'] = 1

In [ ]:
timeData[:5]

## Monthly tweet count summary

In [ ]:
# monthly
monthly = timeData.set_index('created_at').resample('1M').sum()
# weekly
# tt = timeData.set_index('created_at').resample('1W').sum()

In [ ]:
monthly.describe()

In [ ]:
fig, axes = plt.subplots(figsize=(15,5))
tt.plot(kind='bar', ax=axes)
axes.set_title('Tweet creation dates by month'); axes.set_ylabel("# tweets")
fig.tight_layout()

In [ ]:
from bokeh.palettes import Spectral6, Category20, magma, inferno, viridis

def color_generator(num_colors, palette_function=viridis):
    """Returns a color from the relevant palette"""
    colorlist = palette_function(num_colors)
    for c in colorlist:
        yield c

In [ ]:
def ticker():
    """Replaces the numeric y axis label with the correct term
    The dict seems to need to be hardcoded since bokeh
    messes with any args or values which seem like they should be 
    in scope"""
    dd = {
        1: 'crps',
        2: 'migraine',
        3: 'fibromyalgia',
        4: 'spoonie',
        5: 'vulvodynia',
        6: 'endometriosis',
        7: 'neuropathy',
        8: 'arthritis',
        9: 'rhem_arthritis',
        10: 'shingles',
        11: 'backpain',
        12: 'headache'
    }

    term = dd.get( tick )
    return "{}".format( term )

In [ ]:
from bokeh.io import show
from bokeh.models import ColumnDataSource
from bokeh.plotting import figure
from bokeh.sampledata.commits import data
from bokeh.transform import jitter

from bokeh.plotting import *
from bokeh.models import FuncTickFormatter
from bokeh.models.tickers import FixedTicker


def plot_tweet_distributions(frame, terms, title='tweet frequencies'):
    colorgen = color_generator(1)
    
    color = next(colorgen)
      
    # initialize the notebook output
    output_notebook()

    # create a new plot with a title and axis labels
    p = figure(title=title, 
               x_axis_type="datetime", 
               plot_width=800, 
               plot_height=500, 
               x_axis_label='timestamp', 
               y_axis_label='tweet')

    source = ColumnDataSource(frame)
    p.circle(x='created_at', 
                 y=jitter('tweet', width=0.5, range=p.y_range), 
                 fill_color=color, 
                 source=source, 
                 alpha=0.6
                )

    p.x_range.range_padding = 0
    p.ygrid.grid_line_color = None
    p.legend.orientation = "horizontal"

    # limit the displayed tick locations to those corresponding to the 
    # terms in the dataframe 
    tick_locations = [x for x in range(1, len(terms) + 1)]
    p.yaxis.ticker = FixedTicker(ticks=tick_locations)

    # Now add the labels instead of the numbers to the y axis
#     p.yaxis.formatter = FuncTickFormatter.from_py_func(ticker)

    # show the results
    show(p)

In [ ]:
plot_tweet_distributions(timeData, ['created_at'])

# Users

## Users with tons of followers

These will often be celebrities

In [3]:
LIMIT = 25
query = """
SELECT screen_name, followers_count, friends_count, statuses_count 
FROM users 
ORDER BY followers_count DESC 
LIMIT %s""" % LIMIT
popular = pd.read_sql_query(query, dao.engine, index_col='screen_name')

In [4]:
popular

                followers_count  friends_count  statuses_count
screen_name
NiallOfficial          39174987           5977           12508
RyanSeacrest           16500750            562           12986
CNN                    15585213           1043           55260
SnoopDogg              14158361           2632           34857
rustyrockets           12264990            350            9991
steveaoki               8133895           4712           40609
TheVijayMallya          5857267            215            8903
ndtv                    5502253             31          229156
NickCannon              5238750           5505           22730
WWEUniverse             4560613          62720           66489
ABC                     4551103            938          113068
MYXphilippines          3891242            549           38789
FoxNews                 3814583            379          172881
MeekMill                3791307           1515           33344
DjKingAssassin          3579591         344584           44689
MCHammer                3548988          66008           55491
DebbyRyan               3499943             73           17017
corbuzier               3448999           1330           15428
diljitdosanjh           3436416             90           46228
henrygayle              3408891             52           13633
wef                     3312276            345          112924
myfabolouslife          3140510            843           11335
drdrew                  3088555            362            3925
MrPeterAndre            3078234           6248            7505
BBCNews                 3075265             93          224410

## By status count

In [6]:
LIMIT = 25
query = """
SELECT screen_name, followers_count, friends_count, statuses_count 
FROM users 
ORDER BY statuses_count DESC 
LIMIT %s""" % LIMIT
freq = pd.read_sql_query(query, dao.engine, index_col='screen_name')

In [7]:
freq

                 followers_count  friends_count  statuses_count
screen_name
notiven                    51672            193         8175614
RedScareBot                14273            134         2311576
homeshopbuzz               14468           2334         2092798
BrianBrownNet               5147            167         1700175
kakusan_RT                 16831              1         1683899
OccuWorld                   6519            878         1641696
dookyyy                     3868           5748         1473195
FunctionalPhil               122              3         1349018
DailyBrian                  2590            164         1297707
r_a_b_b_i_t                 2627            941         1282325
6vll                       17440              3         1237504
ExploreWeb2dot0             9414           8450         1230789
trends_selling              5564           5771         1222921
bestjobsonline              7884             18         1222575
NarrendraM                  1996            252         1219938
resilient_ent               2716            405         1213319
simanekomama                5706           3271         1209565
m_m1941                     2356             40         1193609
BarbWiresRadio             10535          10289         1153942
DailyGawk                   2499            155         1138013
USRadioNews                 1433            157         1137006
Favstar250                  8524              0         1122156
brendamaiy                 31102          29712         1100441
Go2WebMarketing             6608           6244         1084851
t_hisashi                   2284            582         1082464